.services {
  //   background-color: red;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding: 6rem;

  &__item {
    background-color: $primary-color;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: 3rem;

    &--img {
      max-width: 150px;
    }

    &--p {
      color: $pale-color;
      font-weight: 600;
    }
  }
}
